/* fonts start */
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-VariableFont.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: monserrat;
  src: url(../fonts/monserrat/Montserrat-VariableFont_wght.ttf);
}
/* fonts end */

/* classes start */

body {
  background-color: #fff;
}

.authContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 25vh;
}

.authContainer button {
  background-color: #5ece7b;
  max-width: 280px;
  width: 100%;
  border: 1px solid transparent;
  margin: 5px 10px 0 10px;
  padding: 10px;
  font-family: poppins;
  font-size: 0.8rem;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.authContainer p {
  font-family: raleway;
  font-weight: 500;
  font-size: 0.7rem;
  color: #0f6450;
  cursor: pointer;
}

.authPageTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: raleway;
}

.authPageTitle h1 {
  font-weight: 700;
  font-family: raleway;
  font-size: 2.18rem;
}

.authPageTitle h3 {
  font-size: 1.56rem;
  font-weight: normal;
  margin-top: -20px;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputs input {
  margin: 10px;
  max-width: 290px;
  width: 100%;
  font-family: poppins;
  border-radius: 10px;
  padding: 5px 80px 5px 30px;
  border: 1px solid #eee;
  background-color: #fff;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.loginInputs input::placeholder {
  color: #333;
  font-size: 0.8rem;
  font-family: poppins, sans-serif;
  opacity: 0.5;
}

.loginInputs input:focus {
  outline: none !important;
  border: 1px solid #5ece7bed;
  box-shadow: 0 0 10px #5ece7b;
}

.loginInputs .inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.loginInputs .inputWithIcon .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #eee;
}

.smallChildcontainer {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  height: 8vh;
  justify-content: space-between;
}

.navitems {
  display: none;
}

.logocontainer {
  padding-top: 10px;
  padding-left: 40px;
  cursor: pointer;
}

.basket {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  cursor: pointer;
}

.valute {
  margin-right: 10px;
}

.categoryName {
  display: flex;
  justify-content: left;
  margin: 50px 0 50px 20px;
}

.categoryName h1 {
  font-family: raleway;
  font-weight: 400;
  font-size: 2rem;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardComp {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 30px 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0);
  box-sizing: border-box;
  max-width: 360px;
  height: 100%;
}

.menu__btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  padding-top: 20px;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: "";
  top: -8px;
}
.menu__btn > span::after {
  content: "";
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #000;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: 0.25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  font-family: raleway sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
  cursor: pointer;
}

.menu__item__text {
  color: #fff;
}

.menu__item__active {
  color: #5ece7bed;
}

.menu__item:hover {
  color: #5ece7bed;
  text-shadow: 0 0 50px #5ece7b;
}

.logOut {
  margin-left: 20px;
}

.boldText {
  font-weight: 800;
}

.imageSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageSec img {
  padding: 10px;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.infoImages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  order: 2;
}

.infoImages img {
  width: 100%;
  object-fit: contain;
  max-width: 140px;
  padding: 10px;
  box-sizing: border-box;
}

.selectedImage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 100px;
  order: 1;
  padding: 20px;
}

.selectedImage img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  object-fit: contain;
}

.nameCard h3 {
  font-family: raleway;
  font-size: 1.12rem;
  font-weight: 400;
  color: #1d1f22;
  margin-bottom: 0;
}

.priceCard h4 {
  font-family: raleway;
  font-size: 1.12rem;
  font-weight: 400;
  color: #1d1f22;
  margin-top: 5px;
}

.infoContainer {
  display: flex;
  flex-direction: column;
}

.productInfo {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  order: 3;
}

.productInfo h3 {
  font-family: raleway;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 0;
}

.productInfo h2 {
  font-family: raleway;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 10px;
}

.productSize div {
  border: 1px solid #000;
  margin: 10px;
  width: 100%;
  max-width: 63px;
  cursor: pointer;
}

.productSize div:hover {
  background: #000;
  color: #fff;
}

.productSize {
  display: flex;
  flex-direction: row;
  text-align: center;
  box-sizing: border-box;
}

.productColor {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  text-align: center;
}

.productColor div {
  width: 40px;
  height: 40px;
  border: 1px solid #000;
  color: #fff;
  margin: 10px;
  cursor: pointer;
}

.nondis {
  display: none;
}

.productInfo div {
  padding: 10px;
}

/* classes end */

/* id start */

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}

#valuteCombobox {
  background-color: transparent;
  border: none;
}

.buttonContainer {
  position: relative;
  margin-top: auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease;
}

.roundButton {
  position: absolute;
  bottom: 10px;
  right: 40px;
  transform: translate(50%, 50%);
  background-color: #5ece7b;
  color: #fff;
  border: none;
  width: 52px;
  height: 52px;
  cursor: pointer;
  border-radius: 50%;
  font-family: poppins;
  font-size: 0.8rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonContainer :hover {
  border: 1px solid #5ece7bed;
  box-shadow: 0 0 10px #5ece7b;
}

.cardComp:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.cardComp:hover .buttonContainer {
  visibility: visible;
  opacity: 1;
}

.infoContainer button {
  color: #fff;
  background-color: #5ece7b;
  padding: 20px 100px;
  border: none;
}

.infoContainer h5 {
  margin-bottom: 1px;
}

.descrp {
  margin-bottom: 0;
}

div.productDescrp {
  margin-top: 0;
  padding-left: 0;
}

.basketContainer {
  display: flex;
  flex-direction: column;
}

.basketraw {
  display: flex;
  flex-direction: column;
}

.basketPhotosec {
  display: flex;
  flex-direction: column;
}

.basketPhotosec img {
  width: 100%;
  object-fit: contain;
  max-width: 200px;
  box-sizing: border-box;
}

div.basketimg {
  display: flex;
  justify-content: center;
}

.basketCountsec {
  display: flex;
  justify-content: space-between;
}

.mainbox {
  margin: auto;
  height: 600px;
  width: 600px;
  position: relative;
}

.err {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 20%;
  top: 8%;
}

.far {
  position: absolute;
  font-size: 8.5rem;
  left: 42%;
  top: 15%;
  color: #000;
}

.err2 {
  color: #000;
  font-family: "Nunito Sans", sans-serif;
  font-size: 11rem;
  position: absolute;
  left: 68%;
  top: 8%;
}

.msg {
  text-align: center;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  position: absolute;
  left: 16%;
  top: 45%;
  width: 75%;
}

.goHome {
  text-decoration: none;
  color: red;
}

.goHome:hover {
  text-decoration: underline;
  cursor: pointer;
}
.sc{
  display: flex;
}
/* id end */

@media screen and (max-width: 600px) {
  .menu__box {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .basketCountsec {
    max-width: 300px;
    transform: rotate(90deg);
    position: relative;
    top: -50px;
    left: -150px;
  }

  .basketraw {
    margin: 50px 50px 30px 100px;
    padding: 30px 10px;
    border-top: 1px solid green;
  }

  .basketCountsec p {
    transform: rotate(-90deg);
  }

  .basketContainer {
    justify-content: space-between;
  }

  .basketraw {
    flex-direction: row;
    justify-content: space-between;
  }

  .basketPhotosec {
    order: 2;
  }

  .smallChildcontainer {
    flex-direction: row;
  }

  .authPageTitle h1 {
    font-family: monserrat;
    font-size: 2.91rem;
  }

  .loginInputs input {
    min-width: 290px;
  }

  .authContainer button {
    min-width: 300px;
  }

  .authContainer p {
    font-size: 0.9rem;
  }

  .navitems {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
  }

  .navitem {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    cursor: pointer;
    font-family: raleway;
  }

  .navactive {
    border-bottom: 1px solid #5ece7b;
  }

  .hamburger-menu {
    display: none;
  }

  .basket {
    margin-right: 50px;
  }

  .categoryName {
    margin: 60px 0 50px 100px;
  }

  .productSize {
    padding: 0 !important;
  }

  .productColor {
    padding: 0 !important;
  }

  .categoryName h1 {
    font-size: 2.62rem;
  }

  .imageSec img {
    max-height: 350px;
  }

  .mainContainer {
    flex-direction: row;
  }

  .productInfo h2 {
    font-size: 1.87rem;
  }

  .cardComp {
    min-height: 500px;
    margin-left: 80px;
  }

  .productInfo h3 {
    font-size: 1.87rem;
  }

  .infoImages {
    order: 1;
    margin-right: 50px;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
  }

  .infoImages img {
    min-width: 80px;
  }

  .infoimgActive {
    border: 1px solid #5ece7bed;
    box-shadow: 0 0 10px #5ece7b;
  }

  .selectedImage {
    order: 1;
    max-width: 510px;
    max-height: 510px;
    align-items: initial;
    margin-top: initial;
  }

  .selectedImage img {
    min-width: 250px;
  }

  .infoContainer {
    flex-direction: row;
    justify-content: center;
    margin-top: 80px;
  }

  .productColor div {
    max-height: 30px;
  }

  .productInfo {
    flex-direction: column;
    order: 3;
    box-sizing: border-box;
  }
}
