
/* fonts start */
@font-face {
  font-family: raleway;
  src: url(../fonts/raleway/Raleway-VariableFont.ttf);
}

@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Light.ttf);
}
/* fonts end */


/* classes start */

body{
  background-color: #fff;
}

.loginMain{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 25vh;
}

.loginMain button{
  background-color: #5ECE7B;
  max-width: 260px;
  width: 100%;
  border: 1px solid transparent;
  margin: 5px 10px 0 10px;
  padding: 10px;
  font-family: poppins;
  font-size: 0.8rem;
  color: #fff;
  box-sizing: border-box;
  cursor:pointer;
}

.loginMain p{
  font-family: raleway;
  font-weight: 500;
  font-size: 0.7rem;
  color: #0F6450;
  cursor:pointer;
}

.loginTitle{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: raleway;
}

.loginTitle h1{
  font-weight: 700;
  font-size: 2.18rem;
}

.loginTitle h3{
  font-size: 1.56rem;
  font-weight: normal;
  margin-top: -20px;
}

.loginInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputs input{
  margin: 10px;
  max-width: 250px;
  width: 100%; 
  font-family:poppins;
  border-radius: 10px;
  padding: 5px 80px 5px 30px;
  border: 1px solid #EEE;
  background-color: #fff;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
}

.loginInputs input::placeholder {
  color: #333; 
  font-size: 0.8rem;
  font-family: poppins, sans-serif;
  opacity: 0.5;
}

.loginInputs input:focus {
  outline: none !important;
    border:1px solid #5ECE7Bed;
    box-shadow: 0 0 10px #5ECE7B;
}



.loginInputs .inputWithIcon {
  position: relative;
  display: flex;
  align-items: center;
}

.loginInputs .inputWithIcon .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #EEE;
}


/* classes end */


@media only screen and (min-width: 768px){
  .loginInputs input{
    min-width: 290px;
  }

  .loginMain button{
    min-width: 300px;
  }

  .loginMain p{
    font-size: 0.9rem;
  }
}